/* Estilo para el párrafo */
p {
    font-size: 16px;
    margin-bottom: 10px;
    }
  
  /* Estilo para el botón de enlace */
  a .btn {
    color: #007bff;  
    text-decoration: none;
  }
  
  /* Estilo para cambiar el color del botón de enlace al pasar el mouse sobre él */
  a .btn:hover {
    color: red;  
    text-decoration: none;
  }
  
.login{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

