*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: none;
  text-decoration: none;
<<<<<<< HEAD
  overflow: hidden;
}

root {
  --primary-gradient: linear-gradient(45deg, #FEC747, #FF57FF);
  --secondary-gradient: linear-gradient(45deg, #4FDAB8, #844AFF);
  --cardone-gradient: linear-gradient(45deg, #FF7082, #FFA94F);
  --cardtwo-gradient: linear-gradient(45deg, #FF4BDF, #8979EC);
  --cardthree-gradient: linear-gradient(45deg, #5CE3B1, #F90F0F);
  --cardfour-gradient: linear-gradient(45deg, #3649A9, #F2B3BB);
=======
/*   overflow: hidden; */
>>>>>>> 48f561a40ee05a7f9ba903dc238a451884df0102
}