* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: none;
  text-decoration: none;
  /*   overflow: hidden; */
}

:root {
  --primary-gradient: linear-gradient(45deg, #fec747, #ff57ff);
  --secondary-gradient: linear-gradient(45deg, #4fdab8, #844aff);
  --card1-gradient: linear-gradient(45deg, #ff7082, #ffa94f);
  --card2-gradient: linear-gradient(45deg, #ff4bdf, #8979ec);
  --card3-gradient: linear-gradient(45deg, #5ce3b1, #f90f0f);
  --card4-gradient: linear-gradient(45deg, #3649a9, #f2b3bb);
}
