/* Estilo para el párrafo */
p {
    font-size: 16px;
    margin-bottom: 10px;
    }
  
  /* Estilo para el botón de enlace */
  a .btn {
    color: #007bff;  
    text-decoration: none;
  }
  
  /* Estilo para cambiar el color del botón de enlace al pasar el mouse sobre él */
  a .btn:hover {
    color: red;  
    text-decoration: none;
  }
  
.login{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

.logo-login {
  display: flex;
  justify-content: center; /* Centra horizontalmente los elementos flexibles (en este caso, la imagen) */
  align-items: center; /* Centra verticalmente los elementos flexibles (en este caso, la imagen) */
  height: 200px; /* Ajusta esta altura según tus necesidades */
}

.logo-login img {
  max-width: 100%; /* Asegura que la imagen no se desborde del contenedor */
  max-height: 100%; /* Asegura que la imagen no se desborde del contenedor */
}


