.search-box {
  position: relative;
  padding: 0 0px;
}

.search-input {
  display: flex;
  align-items: center;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;

}

@media (min-width: 768px) {
  .search-box {
    padding: 0 200px;
  }
}
