footer {
    background-color: #000;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
}
footer ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%; 
}