footer {
  background-color: #000;
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
}
footer ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}
footer li {
  margin: 0 10px;
}
footer a {
  color: #fff;
  text-decoration: none;
}
footer img {
  width: 30px;
  height: 30px;
}
