.courses {
  background-color: red;
  text-decoration: none;
  font-size: "27px";
  font-weight: "bold";
  margin-top: "20px";
  padding: "20px";
}

.courses a {
  color: "black";
  margin-top: "20px";
}
