.row {
  display: flex;
  justify-content: center;
}

.courses-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px; 
  margin: 0 auto; 
}

.courses {
  display: block;
  width: 90%;
  text-align: center;
  margin: 8px;
  padding: 12px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  height: 100px; 
}

@media (min-width: 768px) {
  .courses-container {
    width: 35% !important;
  }
}

