header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white; 
  padding: 15px 20px 10px;
  color: #333;
  margin-left: 10px;
  margin-right: 10px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 60px;
}

nav {
  display: flex;
  margin-left: auto; 
}
ul li{
padding-top: 15px;
}
nav a {
  color: #333;
  text-decoration: none;
  display: flex;
}

nav a img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}
@media (min-width: 768px) {
  header {
  margin-left: 125px;
  margin-right: 125px;
  }
}