.container {
  padding-bottom: 60px;
}
 /* Agrega estilos al contenedor principal del formulario */
.container {
  position: relative;
  /* Ajusta el tamaño y posición del fondo para que cubra todo el contenedor */
  background-image: url("../assets/globo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
  /* O, si prefieres un efecto de desenfoque, puedes utilizar el siguiente estilo: */
 backdrop-filter: blur(5px);
}
/* Estilos para el logo de la marca */
.globo {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto; 
  height: auto;
  z-index: 1; /* Asegura que esté por encima del contenido detrás */
  animation: spin 2s infinite; /* Agrega la animación de giro */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
}
}